# PostgreSQL (credenciales locales de desarrollo)
POSTGRES_DB=plataforma_educativa
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_pass
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@bdia.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=8080
